@import url('https://fonts.googleapis.com/css?family=Bungee|Roboto:400,400i,900');

* {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

button {
    color: #343a40 !important;
    border: white !important;
    background-color: white !important;
}

h1, p, h2 {
    color: white;
}

.actual {
    text-decoration: underline;
}

body {
    background: linear-gradient(to right, rgba(52, 58, 64, 1) 20%, rgba(40, 40, 40, 1) 50%, rgba(52, 58, 64, 1) 80%);
}

.navbar-brand {
    text-transform: uppercase;
}

#small {
    margin: auto;
    width: 94.5%;
    height: 94.5%;
}

.centrado {
    text-transform: uppercase;
}

.align-middle {
    display: fixed;
    top: 50%
}

h1, .navbar-brand {
    font-family: "Bungee", sans-serif;
}

.column {
    display: inline-block;
}

h2 {
    font-style: italic;
    text-align: center;
    font-size: 27px;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    text-shadow:
  -1px -1px 0 white,  
   1px -1px 0 white,
   -1px 1px 0 white,
    1px 1px 0 white;
}

#carousel {
    position: fixed;
    z-index: 11;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.special-fix {
    position: fixed;
}

.display-4 {
    margin: 10px;
}

.centering {
    position: fixed;
    z-index: 12;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gray {
    color: lightgray;
}